body {
    background: #000 !important;
    color: #ffffff !important;
    margin: 0;
    padding: 0;
    font-family: "Lustria", serif;
}

.container {
    background: #000;
    border-color: #000;
}
/* Header Styling */
.header {
    background-color: #000;
    color: #4F378B;
    display: flex;
    justify-content: space-between;
    padding: 1% 3% 0% 2%;
    align-items: center;
    height:50px;
}
.header-image img {
    width: 15%;
    height: 100%;
    padding-top: 3%;
    transition: ease 0.6s;
    margin-top: 20px;
}
.header-image img:hover{
    transform: scale(1.1);
}
#title-text {
    font-size: 55px;
    margin-top:57px;
    margin-bottom: 30px;
    font-family: 'DM Serif Display', 'serif';
    margin-bottom: -90px;
}
.header button{
    border-radius: 5em;
    font-family: 'DM Serif Display', 'serif';
    background-color: #4F378B;
    color: #ffffff;
    width: 8em;
    height: 3em;
    border-radius: 4em;
    font-size: 13px;
    border: none;
    transition: ease 0.6s;
    margin-top: 25px;
}
.header button:hover {
    background-color: #9d88dd;
    transform: scale(1.1);
}

/* Box Styling */
.box {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-size: 1.8rem;
    color: #f5f5f5;
}

/* Image Box */
.image-box_1, .image-box_2 {
    position: relative;
    width: 40%;
    height: 40%;
    margin: 20px 20px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
}

/* Circular Buttons */
.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 111px;
}

.circle-button {
    background-color: #4F378B;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.circle-button:hover {
    background-color: #6c4fa3;
    transform: scale(1.05);
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: 50%;
    height: 50%;
    display: flex;
    border-radius: 50%;
    margin: 20px auto;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header-image img {
        width: 50px;
    }

    .image-box_1, .image-box_2 {
        width: 70%;
        height: auto;
    }

    .circle-button {
        width: 45px;
        height: 45px;
        font-size: 12px;
    }
}
