/* General Styling */
body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    position: relative;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center items vertically */
    flex-wrap: nowrap;
    /* Prevent wrapping */
    padding: 20px;
    background-color: #000;
    color: #4F378B;
    gap: 20px;
    /* Maintain spacing */
}

.header-image img {
    width: 60px;
    height: 70px;
    transition: ease 0.6s;
}

.header-image img:hover {
    transform: scale(1.1);
}

.header-buttons button {
    background-color: #4F378B;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.header-buttons button:hover {
    background-color: #6c4fa3;
    transform: scale(1.05);
}

/* Box Styling */
.box {
    text-align: center;
    margin-top: -5px;
}

.title {
    font-size: 1.8rem;
    color: #f5f5f5;
    margin-bottom: 10px;
}

/* Image Box */
.image-box {
    position: relative;
    width: 30%;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.2s ease;
}

.image-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.image-box:hover {
    box-shadow: 3px 3px 10px #8c4cd6;
    transform: scale(1.03);
}

/* Circular Buttons */
.button-container {
    margin-top: -4px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.circle-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4F378B;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.circle-button:hover {
    background-color: #6c4fa3;
    transform: scale(1.08);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: row;
        /* Keep in a row on small screens */
        justify-content: space-between;
        /* Proper spacing */
        padding: 10px;
        /* Reduce padding */
    }



    .header-buttons button {
        padding: 8px 15px;
        /* Reduce button size */
    }

    .image-box {
        width: 70%;
        height: auto;
    }

    .button-container {
        gap: 40px;
        /* Reduce gap for buttons */
    }

    .circle-button {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }
}

.progress-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.progress-bar {
    height: 100%;
    background-color: #4F378B;
    width: 0%;
    transition: width 0.1s;
}